{
	email {$ACME_EMAIL}
}

{$CADDY_DOMAINS} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:3000
	}

	handle /uploads/* {
		reverse_proxy backend:3000
	}

	handle {
		header Content-Type application/json
		respond `{"success":false,"error":"Not found.","message":"Not found."}` 404
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}

	log {
		output stdout
		format console
	}
}
